.main-footer {
    display: flex;
    box-sizing: border-box;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #292E40;
    padding: 25px;
}


.about {
    
    flex-direction: column;
    width: 300px;
}

.talk {

    flex-direction: column;
    width: 300px;
}

.footer-description {
    font-weight: 600;
    padding-bottom: 10px;
}