.main-products {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.products-section {
    padding: 50px;
}

@media (max-width: 800px) {
    .main-products {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {
    .main-products {
        grid-template-columns: 1fr;
    }
}