.main-apresentation {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    background-color: #fff;

}