html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-bg {
    background-color: #F8CAC1;   
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}

.main-header nav:last-child {
    margin-right: 40px;
}

.navigation {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

@media (max-width: 800px) {
    .main-header {
        flex-direction: column;   
    }
    
}
    

